.container1{
    background-color: #f72463;
    font-family: serif;
    color:white; 
    font-size: x-large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 50vh;
    position: relative;
}

.divClassName{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}


.divClassInfo{
    margin-top: 20px;
    font-size: medium;
}

.divClassMotto{
    font-size: 50px;
}

.button1{
    font-family: sans-serif;
   text-align: center;
    font-size: 15px;
    width: 130px;
}



.button2{
    font-family: sans-serif;
    text-align: center;
    color: white;
    border-color: white;
    width: 130px;
    font-size: 15px;
}

.container2{
    background-color: white;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40vh;
    position: relative;
    z-index: 9;
 }

 h4{
    color: black;
    font-family: serif;
    margin-top: 10px;
}

h6{
    color: grey;
}


.Semn{
    text-align: center;
    color: pink;
    font-size: 50px;     
}
 
 .iphone{
     top: 115px;
     right:500px;
     transform: rotate(25deg);
     position: absolute;
     z-index: 8;
    
 }

.title2{
    text-align: center;
    font-size:xx-large ;
    font-family: serif;
}

.subtitle{
    text-align: center;
    color: grey;
}

.container3{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 9;
    margin-top: 70px;

}

.Dogs{
     
     margin-left: 100px;
     border-style: solid;
     border-width: medium;   
 }

.SignUp{
   padding-left: 75px;
   padding-right: 75px;
}

.Last{
    margin-top: 65px;
}

.container4
{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    color: #f72463;
}

 .Swipe
{
    margin-top: 20px;
    width: 200px;
}

