h6{
    font-family: 'Rubik', sans-serif;
    opacity:0.9;
    font-size: large;
}
#navigateul{
    list-style-type: none;
    padding: 0;
    padding-top: 2em;
    font-size: small;
    font-family: 'Rubik', sans-serif;
    opacity: 0.6;
}
li > a{
    text-decoration: none;
    color: inherit;
}
li > a:hover{
    text-decoration: none;
    color: inherit;
    background:linear-gradient(to top, #efd78a 50%, transparent 50%); 
}
h4{
    font-family: 'Rubik', sans-serif;
    opacity: 0.9;
}
#txtbottom{
    padding-top: 2em;
    font-family: 'Rubik', sans-serif;
    opacity:0.8;
    padding-right: 0;
    padding-left: 3.5em;

}
#cellphonebottom{
    font-family: 'Rubik', sans-serif;
    opacity:0.8;
    padding-right: 0;
    padding-left: 6em;
}
#copyright{
    border-top: 0.1px solid rgba(65, 65, 65, 5%);
    height: 5em;
}
#txtcopyright{
    padding: 0;
    padding-top: 2em;
    font-size: 13px;
    font-family: 'Rubik', sans-serif;
    opacity: 0.4;
}