body{
    background-color: rgb(234, 235, 239);
}

.col-sm-1{
    margin: 0;
    padding: 0;
}

.col-sm-2 {
    margin: 0;
    padding: 0;
}

.row div .list-group-item{
    margin: 0;
    padding: 0;
    border-radius: 0;
    padding: 1.6em 0;   
    border:0.1px solid rgba(65, 65, 65, 5%);
    background-color: rgb(234, 235, 239);
    height: 5em;
}
.cell{
    color: rgba(0, 0, 0, 50%);
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.cell:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 70%);
    background:linear-gradient(to top, #efd78a 50%, transparent 50%); 

}
