body {
        background-color: #00ffcc;
        text-align: center;
        }
    .container{
      position:relative;
      text-align: center;
      color:white;
    }
    .centered{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family:fantasy;
      font-size:xx-large;
      color:#00004d;
    }
    .icon {
    margin: auto;
    padding: 100px;
    height: auto;
    
  }
  h3{
    color:#00004d;
    font-family:fantasy;
      font-size:xx-large;
      margin-block-start: -70px;
    
  }
  h1{
    color:#3333ff;
    font-family:fantasy;
      font-size:large;
      margin-block-start: -30px;
  }
 .box {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid #ff6600;
  padding: 50px;
  margin: 20px ;
  color:#00004d;
    font-family:fantasy;
      font-size:xx-large;
}
.left{
  margin-left:-400px;
}
.right{
  margin-right:-600px;
  margin-block-start:-80px;
}
