@font-face {font-family: "Refreshment Stand"; src: url(Refreshment_Stand.ttf) format("truetype")}

.top{
    width: 100%;
    background-color:#d9e8e5;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
}
#land{
    width: 40%;
}
#cloud1{
    width: 8%;
    position: relative;
    bottom: 30%;
    left: 6%;
}
#cloud2{
    width: 8%;
    position: relative;
    bottom: 60%;
    right: 5%;
}
.top-details{
    position: relative;
    bottom: 40%;
    left: 40%;
    font-size: 2.8vw;
    text-align: center;
    white-space:nowrap;
    margin-bottom: 2em;
}
.txt1{
    font-family: "Refreshment Stand";
    font-size: 2.5em;
    margin: 0;
    color: #90cec3;
}
.txt2{
    font-family: Arial, Helvetica, sans-serif;
    color: #90cec3;
    font-size: small;
    margin: 0;
    font-weight: bold;
}  
.middle{
    width: 100%;
    display: flex;
    justify-content: center;
}
#person{
    width: 6vw;
}
.hi{
    font-family: Arial, Helvetica, sans-serif;
    color: #90cec3;
    font-size: 1.5vw;

} 
.col-sm{
    display: flex;
    justify-content: center;
}
.middle-description{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 60%);
    font-size: 1.1vw;
    margin-bottom: 8em;
}
#bottom-header{
    background-color: #d9e8e5;
    font-size: 2vw;
    padding: 5% 27%;
}
#bottom-col{
    margin-top: 5%;
    justify-content: flex-start;
}

.bottom-pencil{
    margin: 0 20px;
}
#bot-head{
    color: #90cec3;
    font-size: 1.4vw;
}
#bot-description{
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 60%);
    font-size: 1vw;
}